:root {
    /* --- Colors --- */

    --c-beige: #F9F9F7;
    --c-charcoal: #333333;
    --c-pink: #D32C6A;
    --c-pink--light: #f1ced9;
    --c-blue: #90C8E4;
    --c-blue--light: #F6FCFF;
    --c-green: #619A72;
    --c-green--light: #8bbb99;

    /* --- Spacing / sizing ---*/

    /* Gutters */
    --p-gutter--xsmall: 5px;
    --p-gutter--small: 10px;
    --p-gutter: 20px;
    --p-gutter--medium: 30px;
    --p-gutter--large: 40px;
    --p-gutter--xlarge: 50px;

    /* Borders */
    --b-radius--xsmall: 5px;
    --b-radius--small: 10px;
    --b-radius: 20px;
    --b-radius--large: 32px;
    --b-radius--round: 50%;

    /* --- Typography --- */

    /* Base text sizes */
    --font-size-hero: clamp(3rem, 8vw, 6rem); /* 64–96px */
    --font-size-heading-1: clamp(2.5rem, 6vw, 4rem); /* 40–64px */
    --font-size-heading-2: clamp(2rem, 5vw, 3rem); /* 32–48px */
    --font-size-heading-3: clamp(1.75rem, 3vw, 2rem); /* 28–32px */
    --font-size-heading-4: clamp(1.5rem, 3vw, 1.75rem); /* 24–28px */
    --font-size-text-large: 1.25rem; /* 20px */
    --font-size-text: 1rem; /* 16px */
    --font-size-text-small: 0.875rem; /* 14px */
    --font-size-text-xsmall: 0.75rem; /* 12px */

    /* Contextual use */
    --font-size-text-intro: clamp(1.5rem, 3vw, 2rem); /* 24–32px */
    --font-size-text-card: var(--font-size-text-large); /* 20px */
    --font-size-text-tag: var(--font-size-text); /* 12px */

    /* --- Base colors --- */

    --text-color: var(--c-charcoal);
    --heading-color: var(--c-charcoal);
    --accent-color: var(--c-blue);
    --link-color: var(--c-charcoal);
    --body-background: var(--c-beige);
}
