---
import BaseLayout from "../layouts/BaseLayout.astro";

import ProjectList from "../components/ProjectList.astro";
import Hero from "../components/Hero.astro";
import Intro from "../components/Intro.astro";
---

<BaseLayout>
    <main>
        <Hero />
        <Intro />
        <ProjectList />
    </main>
</BaseLayout>

<script>
    import Lenis from "lenis";

    const lenis = new Lenis();

    function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
    }

    requestAnimationFrame(raf);
</script>
