<footer class="footer">
    <ul class="footer__list">
        <li class="footer__item">
            <a href="https://github.com/Annevd" class="footer__link">GitHub</a>
        </li>
        <li class="footer__item">
            <a href="https://codepen.io/Annevd" class="footer__link">CodePen</a>
        </li>
        <li class="footer__item">
            <a
                href="https://www.linkedin.com/in/anne-van-dijk-617a472a4"
                class="footer__link">LinkedIn</a
            >
        </li>
        <li class="footer__item">
            <a
                href="https://www.instagram.com/xartisticanne?igsh=ZHAweG96MDVjZXc="
                class="footer__link">Instagram</a
            >
        </li>
    </ul>

    <p class="footer__copyright">&copy; 2025 Anne van Dijk</p>
</footer>

<style>
    .footer {
        display: flex;
        flex-direction: column;
        gap: var(--p-gutter);
        padding: var(--p-gutter);
    }

    .footer__list {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: var(--p-gutter--small);
    }

    .footer__copyright {
        color: var(--c-brown);
        font-weight: var(--font-weight-extrabold);
    }

    @media (min-width: 600px) {
        .footer {
            flex-direction: row;
            justify-content: space-between;
        }
    }
</style>
