---
import Scribble from "./ui/Scribble.astro";
import Circle from "./ui/Circle.astro";
import ArrowDown from "./icons/ArrowDown.astro";
---

<section class="hero hero__container">
    <div class="hero__title-container">
        <h1 class="hero__title">Anne van Dijk</h1>
        <Scribble />
    </div>

    <p class="hero__subtitle">
        <span class="hero__subtitle-wrapper">Creative <Circle /></span> Frontend
        Developer & Artist
    </p>

    <a class="hero__cta" href="#projects">Scroll to explore <ArrowDown /></a>
</div>

<style>
    .hero__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: var(--p-gutter--xlarge);
        justify-content: center;
        min-height: 100vh; /* fallback for older browsers */
        min-height: 100svh;
        position: relative;
    }

    .hero__title-container {
        display: flex;
        flex-direction: column;
        gap: var(--p-gutter--xsmall);
    }

    .hero__title {
        font-size: var(--font-size-hero);
        text-align: center;
    }

    .hero__subtitle {
        font-size: var(--font-size-text-intro);
        text-align: center;
    }

    .hero__subtitle-wrapper {
        position: relative;
    }

    .hero__cta {
        align-items: center;
        color: var(--c-green);
        display: flex;
        font-size: var(--font-size-text-large);
        font-weight: var(--font-weight-extrabold);
        gap: var(--p-gutter--small);
        position: absolute;
        bottom: var(--p-gutter);
        text-align: center;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            animation: bounce 1.5s ease infinite;
        }
    }

    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-20px);
        }
        60% {
            transform: translateY(-5px);
        }
    }
</style>
