---

---
<section class="intro">
    <div class="intro__container">
        <p class="intro__text">
            I’m an aspiring frontend developer who loves building visually engaging,
            interactive websites. My background in drawing, painting, and music
            fuels my passion for creative coding. I enjoy turning design concepts
            into responsive, user-friendly experiences that feel unique and
            expressive.
        </p>
    </div>

    <div class="intro__container">
        <p class="intro__text">
            Want to know more? Keep scrolling to see my past work and projects!
        </p>
    </div>
<section>

<style>
    .intro__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100svh;
    }

    .intro__text {
        font-size: var(--font-size-text-intro);
        text-align: center;
    }

    .line {
        will-change: transform, opacity;
    }
</style>

<script>
    import gsap from "gsap";
    import { SplitText } from "gsap/SplitText";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(SplitText, ScrollTrigger);

    window.addEventListener("DOMContentLoaded", () => {
        document.fonts.ready.then(() => {
            const paragraphs = gsap.utils.toArray(".intro__text");

            paragraphs.forEach((p: HTMLElement) => {
                const split = SplitText.create(p, {
                    type: "lines, words",
                    linesClass: "line",
                });

                gsap.from(split.words, {
                    yPercent: 120,
                    opacity: 0,
                    stagger: 0.05,
                    duration: 1,
                    ease: "power2.out",
                    scrollTrigger: {
                        trigger: p,
                        start: "top 80%", // Start when top of paragraph hits 80% down the viewport
                        end: "top 40%",
                        scrub: window.innerWidth > 1024 ? 1 : false,
                    },
                });
            });
        });
    });
</script>
