---
import "../styles/base.css";
import Footer from "../components/Footer.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Portfolio 2025</title>
    </head>
    <body>
        <div id="smooth-wrapper">
            <div id="smooth-content">
                <main>
                    <slot />
                </main>
                <Footer />
            </div>
        </div>
    </body>
</html>

<script>
    import gsap from "gsap";
    import { ScrollSmoother } from "gsap/ScrollSmoother";

    gsap.registerPlugin(ScrollSmoother);

    window.addEventListener("DOMContentLoaded", () => {
        const mm = gsap.matchMedia();

        mm.add("(min-width: 768px)", () => {
            ScrollSmoother.create({
                smooth: 1,
                effects: true,
                normalizeScroll: true,
            });
        });
    });
</script>
